.MenList
{
    list-style-type: none;
}

.list{
    display: inline-block;
    zoom: 1;
    *display: inline;
    float: left;
    padding: 0 1rem;



}
.image
{
    width: 150px;
    height: 150px;
}
.image-list{
    border-style: solid;
    list-style-type: none;

}
