.check{
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 29px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;

}
.check:focus{
    outline: none;
}
.button{
    width: 30px;
    height: 1px;
    background: white;
    height: 2px;
}
.nav1{
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    z-index: 200;
    max-width: 400px;
}
.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 100;
    top: 0;
    left: 0;
}
.nav1 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.nav1 a{
    color: purple;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav1 li {
    margin: 0.5rem 0;
}
.nav1 a:hover, .nav a:active{
    color: green;

}